* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    outline: none;
    padding: 5px;
    width: 15vw;
}

button {
    outline: none;
    padding: 5px;
    width: 10vw;
    margin: 5px;
    background-color: rgb(199, 245, 247);
    cursor: pointer;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 20px;
}
table {
    border: 2px solid transparent;
    background-color:blanchedalmond;
    margin-top: 30px;
}
td, th { 
    margin: 25px;
    padding: 25px;
}

tr:nth-child(odd) {
    background-color: lightgreen;
}