<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/src/public/components/Cart/cart.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <h1>Cart</h1>
        <div class="project">
            <div class="shop">
            </div>
            <div class="right-bar">
                <p><span>Subtotal</span> <span class="cart-total">0</span></p>   
                <p><span>Total</span> <span class="cart-subtotal">0</span></p>
                <i class="fa fa-shopping-cart cart-checkout" onclick="Checkout()">Checkout</i>
            </div>
        </div>
    </div>
    <script defer src="/src/public/components/Cart/cart.js"></script>
</body>
</html>