<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/public/components/Sign-up/Auth.css" />
    <title>Register</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="aside">
          <div class="img-part">
            <img
              src="/src/assets/background-video/vector.jpg"
              alt="Back_IMG"
              height="700"
              width="700"
            />
          </div>
        </div>

        <div class="aside-sec">
          <h1 class="Sign-up">Sign Up</h1>
          <form action="" onsubmit="FormSubmit(event)">
            <div class="field">
              <label for="Username">Username <span>*</span></label>
              <input
                type="text"
                name="name"
                placeholder="Mr. Kpatel"
                id="Username"
                oninput="getUsername()"
                autofocus
                required
              />
              <p id="forUsername">* Please Enter Valid Username</p>
            </div>

            <div class="field">
              <label for="email">Email Address <span>*</span></label>
              <input
                type="email"
                name="email"
                placeholder="Demo@gmail.com"
                id="mail"
                oninput="validateEmail()"
                required
              />
              <p id="forEmail">* Email is not correct.</p>
            </div>

            <div class="field">
              <label for="password">Password <span>*</span></label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="123@Demo"
                oninput="validatePass()"
                required
              />
              <p id="forPass">
                * Password Must be ( 8 characters, uppercase, lowercase, special
                character).
              </p>
            </div>

            <div class="field">
              <label for="confirm-password"
                >Confirm-Password <span>*</span></label
              >
              <input
                type="password"
                name="ConfirmPassword"
                id="ConfirmPass"
                oninput="confirmPass()"
                placeholder="123@Demo"
                required
              />
              <p id="ConfPass">* Password does not match.</p>
            </div>

            <div class="field">
              <label for="security-question"
                >Security Question - What is Your Birth Place ?
                <span>*</span></label
              >
              <input
                type="text"
                name="SecQuestion"
                id="SecQuestion"
                placeholder="Birth Place!"
                required
              />
            </div>

            <div class="btn">
              <button type="submit" id="FormBtn">Register</button>
            </div>
          </form>
          <div class="AuthRedirect">
            <p>
              Already have an account?
              <span class="RegisterRedirect" onclick="signIn()">Login</span>
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
