@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background: url('https://imgs.search.brave.com/5uwLm6hJLWbRWXdDMgaHbjumdEGVm9NcGqujmmtpCwg/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWd2/My5mb3Rvci5jb20v/aW1hZ2VzL2Jsb2ct/Y292ZXItaW1hZ2Uv/cGFydC1ibHVycnkt/aW1hZ2UuanBn');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    color: #28a745;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
}

.songList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#shuffle {
    margin-left: 50px;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 45px;
    width: 80%;
    height: 50vh;
    overflow: hidden;
    overflow-y: auto;
}

.songItemContainer::-webkit-scrollbar {
    display: none;
}

.songItem {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

form {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}