* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    background: url('/assets/background.jpg');
    background-size: cover;
    height: 100vh;
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(73, 67, 67, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-line {
    font-size: 30px;
}

#end-time {
    padding: 25px;
}

.col {
    margin: 10px;
    padding: 25px;
    display: flex;
}

input[type="text"] {
    padding: 0px 10px;
    margin: 0 20px;
    height: 59px;
    width: 98px;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    background-color: rgba(110, 102, 102, 0.7);
    color: aliceblue;
    transition: 1s;
}

input[type="datetime-local"],
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

label {
    display: flex;
    justify-content: center;
}

#completionMessage {
    margin-top: 20px;
    font-size: 24px;
    color: #00ff00;
}